@media (max-width: 1920px) {
    .cardDesk{
        font-weight: 600;
        width: 400px;
    }
  }

@media (max-width: 1625px) {
    .cardDesk{
        font-weight: 600;
        width: 300px;
    }
  }

  @media (max-width: 1240px) {
    .cardDesk{
        font-weight: 600;
        width: 240px;
    }
  }

  @media (max-width: 414px) {
    .cardDesk{
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        width: 230px;
    }
  }