@media (max-width: 1920px) {
    .cardDesk{
        font-weight: 600;
        width: 400px;
        overflow-x: hidden;
    }
  }

@media (max-width: 1625px) {
    .cardDesk{
        font-weight: 600;
        width: 300px;
        overflow-x: hidden;
    }
  }

  @media (max-width: 1240px) {
    .cardDesk{
        font-weight: 600;
        width: 240px;
        overflow-x: hidden;
    }
  }

  @media (max-width: 414px) {
    .cardDesk{
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        width: 90px;
        overflow-x: hidden;
    }
  }

.judulFAQ{
  text-align: center;
  font-family: "Khula";
  font-weight: 600;
  font-size: larger;
}