a {
  text-decoration: none;
}

.welcome {
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("/Assets/Foto\ Beranda2.JPG");
  background-size: cover;
  background-blend-mode: multiply;
}

.welcome > h1 {
  color: #f5f5f5;
  font-family: Poppins;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -1.33px;
}

.general_content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  flex-wrap: wrap;
  margin: auto;
}

.content {
  border-radius: 20px;
  border: 1px none none;
  background: rgba(217, 217, 217, 0.5);
  padding: 5vh;
}

.content > p {
  color: #204ae1;
  text-align: justify;
  font-family: Archivo Black;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
  letter-spacing: -0.342px;
}

.content > a {
  text-decoration: none;
  color: #fff;
  font-family: Rubik;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 31.5px */
  letter-spacing: -0.399px;

  background: #c0044c;
  border-radius: 10px;
  padding: 0.5vw;
  margin-top: 3vh;
}

.edukasi {
  padding: 8vh 0 8vh 0;
}

.edukasi > h1 {
  color: #c01358;
  text-align: center;
  font-family: Rubik One;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 60px */
  letter-spacing: -0.76px;
}

.tentang {
  padding: 8vh 0 8vh 0;
}

.tentang > h1 {
  color: rgba(192, 4, 76, 0.9);
  text-align: center;
  font-family: Rubik One;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 60px */
  letter-spacing: -0.76px;
}

#visi-misi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vw;
  text-align: center;
  align-items: center;
  margin: 5vw;
}

#visi-misi > div {
  display: grid;
  grid-template-rows: auto auto auto;
  height: 100%;
  border-radius: 20px;
  background: #d9d9d9;
  padding: 5vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#visi-misi .visi > h1,
.misi > h1,
.motto > h1 {
  color: #204ae1;
  text-align: center;
  font-family: Rubik One;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 45px */
  letter-spacing: -0.57px;
}

#visi-misi .visi > p,
.misi > p,
.motto > p {
  color: #204ae1;
  text-align: justify;
  font-family: Archivo Black;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 22.5px */
  letter-spacing: -0.285px;
}

#visi-misi .visi > a,
.misi > a,
.motto > a {
  color: #fff;
  font-family: Rubik;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.399px;

  /* height: 5vh; */
  padding: 0.5vw;
  background: #c0044c;
  border-radius: 10px;
}

.faq {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 3vw;

  align-items: center;
  text-align: center;
  margin: auto;
  width: 90%;
  height: 100vh;
}

.rate .star {
  border-radius: 20px;
  background: #d9d9d9;
  padding: 2vh;
}

.rate .star::before {
  content: url(/Assets/Star\ 3.svg) url(/Assets/Star\ 3.svg)
    url(/Assets/Star\ 3.svg) url(/Assets/Star\ 3.svg) url(/Assets/Star\ 3.svg);
}

.faq-content .h1 {
  margin: 5vh;
}

@media (max-width: 400px) {
  .welcome > h1 {
    font-size: 30px;
  }

  .general_content > div > h1 {
    font-size: 30px;
  }

  .content > p {
    font-size: 16px;
  }
}
