* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
  background-color: #C0044C;
  color: white;
}

.logo {
  cursor: pointer;
}

.navbar {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 10px;
}

.navbar li a:hover {
  color: rgba(237, 112, 154, 0.90);
}

.navbar a {
  padding: 5px 10px;
  text-decoration: none;
  color: #585858;
  font-family: Rubik;
}


