* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
  background-color: #C0044C;
  color: white;
}

.logo {
  cursor: pointer;
}

.navbar {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 10px;
}

.navbar li a:hover {
  color: rgba(237, 112, 154, 0.90);
}

.navbar a {
  padding: 5px 10px;
  text-decoration: none;
  color: #585858;
  font-family: Roboto;
}

.darken-image {
  filter: brightness(60%) saturate(150%) contrast(80%) hue-rotate(0deg);;
}

@font-face {
  font-family: 'Khula'; /* Nama untuk font, Anda dapat mengganti 'NamaFont' sesuai preferensi Anda */
  src: url('Assets/Fonts/Khula-Regular.ttf') format('truetype'); /* Ganti 'lokasi/font.woff' dengan path ke file font di server Anda */
  /* Jika font memiliki format .woff2, Anda juga bisa menambahkannya seperti berikut: */
  /* src: url('lokasi/font.woff2') format('woff2'), url('lokasi/font.woff') format('woff'); */
  /* Format yang lebih baru (woff2) lebih disarankan karena lebih efisien. */
}

