
@font-face {
  font-family: "Khula";
  src: url("/Fonts/Khula-Regular.ttf") format("truetype");
}

.katafotokiri {
  color: #F5F5F5;
  text-align: left;
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 66px */
  letter-spacing: -1.32px;
  padding: 100px;

  width: 100%;
  height: auto;
  background-image: url("/Kegiatan/headerkegiatan.png");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: fill;
  background-blend-mode: multiply;
}

@media (max-width: 1024px){
  .katafotokiri {
    font-size: 30px;
    text-align: center;
    background-size: 100% 100%;
    height: 10vh;
    padding-top: 8vh;
  }
}
