@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

.full_container {
  display: flex;
  flex-direction: column;
}

.container_head {
  height: 40%;
  width: 100vw;

  display: flex;
  flex-direction: column;

  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("https://images.unsplash.com/photo-1582826310241-0cd9cc92dbb1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1933&q=80");
  background-size: cover;
  background-blend-mode: multiply;
  background-position: 0% 20%;
}

.container_title {
  display: flex;
  align-items: center;
  padding: 8vw;

  color: beige;
  font-size: 40px;
  font-family: "Oswald", sans-serif;
}

.join_relawan {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  background-color: #c0044c;

  color: white;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: large;

  margin: 5vw;
}

.container_content {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 5vw;
  margin: auto;
}

.daftar_anak > h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: xx-large;
}

.link_list {
  display: flex;
  gap: 5px;

  text-align: center;
  justify-content: center;
}

.button_volunteer {
  text-decoration: none;
  color: white;
  font-weight: 700;

  margin: auto;
  width: 20vw;
  height: 5vh;

  background-color: #c0044c;
  border-radius: 5px;
}

.button_volunteer:hover {
  color: black;
  background-color: aquamarine;
}

@media (max-width: 1024px) {
  .container_content {
    height: 60vh;
    width: 80%;
  }

  .link_list {
    flex-direction: column;
  }

  .button_volunteer {
    width: 80vw;
    height: 10vh;
  }
}
