.full_container {
  height: 80vh;
}

.container_title {
  height: 30%;
  display: flex;
  align-items: center;
  padding: 10vw;

  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("https://images.unsplash.com/photo-1582826310241-0cd9cc92dbb1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1933&q=80");
  background-size: cover;
  background-blend-mode: multiply;
  background-position: 0% 20%;

  color: beige;
}

.container_content {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 5vw;
}

.daftar_anak {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
}

.link_list {
  display: flex;
  gap: 5px;

  text-align: center;
  justify-content: center;
}

.button_volunteer {
  text-decoration: none;
  color: white;
  font-weight: 700;

  margin: auto;
  width: 20vw;
  height: 5vh;

  background-color: #c0044c;
  border-radius: 5px;
}

.button_volunteer:hover {
  color: black;
  background-color: aquamarine;
}
