.all_links {
  display: flex;
  align-items: center;
  gap: 10vw;
}

.join_us {
  border-radius: 5px;
  background-color: #c0044c;
  color: white;
  padding: 1vw;
  text-decoration: none;
}

.join_us:hover {
  font-weight: 900;
}

.line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

.donasi {
  background: #c0044c;
  text-align: center;
  padding: 1vh;
  position: sticky;
}

.donasi > a {
  text-decoration: none;
  color: #fff;
  font-family: Abril Fatface;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 31.5px */
  letter-spacing: -0.399px;
}

.navbar {
  display: grid;
  grid-template-columns: 30% 70%;
}

.logo {
  padding: 0.5vw;
  margin: auto;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 3vw;
}

.navigation > a {
  text-decoration: none;
  color: #585858;
  font-family: Rubik;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 31.5px */
  letter-spacing: -0.399px;
}

.navigation > a:hover {
  text-decoration: underline;
  color: #c0044c;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .navbar > div {
    flex: 50%;
  }

  .all_links {
    display: flex;
    flex-direction: column;
  }

  .navigation {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
  }

  .logo {
    margin: 0%;
  }

  .navigation {
    display: none;
  }

  .burger {
    display: flex;
  }
}
