.katafotokiri {
  color: #f5f5f5;
  text-align: left;
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 66px */
  letter-spacing: -1.32px;
  padding: 100px;

  width: 100%;
  height: auto;
  background-image: url("/HeaderTK.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: fill;
  background-blend-mode: multiply;
}

.judulkonten {
  color: rgba(192, 19, 88, 0.9);
  text-align: center;
  font-family: Rubik One;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 60px */
  letter-spacing: -0.76px;
}

.penjelasan {
  font: Montserrat;
}

.penjelasan > h2 {
    color: #204ae1;
    text-align: justify;
    margin-left: 9%;
    margin-right: 10%;
}

.penjelasan p {
    color: #204ae1;
    text-align: justify;
    margin-left: 9%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.penjelasan li {
    color: #204ae1;
    text-align: justify;
    margin-left: 9%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
  }


@media (max-width: 1024px) {
  .katafotokiri {
    font-size: 30px;
    text-align: center;
    background-size: 100% 100%;
    height: 5vh;
    padding-top: 2vh;
  }
}
